* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
  }
body{
    background-color: #232E49 ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px
}
/* container for the login */
.container {
    width: 100%;
    max-width: 400px;
}
/* the login card */
.login-card {
    background-color:#FDFDF5;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.1);
    border: 15px solid #DEE99B;

    width: 100%;
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* title text */
.login-card h1 {
    color: #3D5690;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 900;
}
/* username and password */
.login-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #9FBAF1;
    border-radius: 8px;
    background-color: #E9EFF4;
    font-size: 1rem;
}
.login-card button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3D5690;
    color: #FDFDF5;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* hovering over login button */
.login-card button:hover {
    background-color: #324066;
}
/* styling for the signup hyperlink */
.login-card p {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 15px;
    color: #3D5690;
}
.login-card p:hover {
    text-decoration: underline;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #232E49;
    z-index: -1;
}

/* @media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
    .login-card {
        padding: 1.5rem;
    }
    .login-card h1 {
        font-size: 1.8rem;
    }
    .login-card input {
        padding: 10px;
        font-size: 0.9rem;
    }
    .login-card button {
        font-size: 1rem;
        padding: 10px;
    }
    .login-card p {
        font-size: 0.7rem;
    }
} */

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #232E49;
    top: 0;
    left: 0;
}