/* bg */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', sans-serif;
}
body {
  background-color: #232E49;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px
}
/* container for the register form */
.container {
  width: 100%;
  max-width: 400px;
}
.register-card {
  background-color: #FDFDF5;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1);
  border: 15px solid #DEE99B;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-card h1 {
  color: #3D5690;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 900;
}
.register-card input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 2px solid #9FBAF1;
  border-radius: 8px;
  background-color: #E9EFF4;
  font-size: 1rem;
}
.register-card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: #3D5690;
  color: #FDFDF5;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.register-card button:hover {
  background-color: #324066;
}
.register-card p {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 15px;
  color: #3D5690;
}
.register-card p:hover {
  text-decoration: underline;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #232E49;
  z-index: -1;
}

/* @media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .register-card {
    padding: 1.5rem;
    min-height: 600px; 
  }
  .register-card h1 {
    font-size: 1.8rem;
  }
  .register-card input {
    padding: 10px;
    font-size: 0.9rem;
  }
  .register-card button {
    font-size: 1rem;
    padding: 10px;
  }
  .register-card p {
    font-size: 0.85rem;
  }
} */